[package]
name = "ipc-plugin-rs"
version = "0.1.0"
edition = "2018"

[lib]
crate-type = ["staticlib"]

[profile.release]
debug = true

[dependencies]
log = "0.4"
packet-ipc = "0.14"

suricata = { path = "/build/suricata/rust" }

